﻿################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

*.tlog
*.pdb
*.exp
*.obj
*.ipch
*.opendb
*.db-shm
*.db-wal
*.bak
*.suo
*.db
*.log
/NewDAIDAI113C/D2CHAR.MPQ
/NewDAIDAI113C/D2data.mpq
/NewDAIDAI113C/D2data.mpq
/NewDAIDAI113C/D2EXP.MPQ
/NewDAIDAI113C/D2music.mpq
/NewDAIDAI113C/D2sfx.mpq
/NewDAIDAI113C/D2SPEECH.MPQ
/NewDAIDAI113C/D2SPEECH.MPQ
/NewDAIDAI113C/D2VIDEO.MPQ
/NewDAIDAI113C/D2xmusic.mpq
/NewDAIDAI113C/D2XTALK.MPQ
/NewDAIDAI113C/D2XVIDEO.MPQ
/NewDK113C/D2CHAR.MPQ
/NewDK113C/D2data.mpq
/NewDK113C/D2data.mpq
/NewDK113C/D2EXP.MPQ
/NewDK113C/D2music.mpq
/NewDK113C/D2sfx.mpq
/NewDK113C/D2SPEECH.MPQ
/NewDK113C/D2SPEECH.MPQ
/NewDK113C/D2VIDEO.MPQ
/NewDK113C/D2xmusic.mpq
/NewDK113C/D2XTALK.MPQ
/NewDK113C/D2XVIDEO.MPQ
/Release/d2hackmap.lib
/Release/d2hackmap.map
/d2hackmap/Debug
/patchload/Release
/Debug
/NewDK113C/Data/Global/Excel/*.bin
.vscode/
.vs/
Release/
